<% if @cages.blank? %>
	<div class="alert alert-warning">
		<h4 class="alert-heading">No Cages!</h4>
		<p>Quick, before those rascally dinosaurs start planning their escape! Install some cages and keep the prehistoric party under control! <%= link_to "Install one now", new_cage_path %>!</p>
		<p class="text-center mb-0 mt-0"><%= image_tag "t-rex-large.png" %></p>
	</div>
<% else %>
<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Cage Type</th>
			<th>No. Dinosaurs</th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @cages.each do |cage| %>
			<tr>
				<td><%=cage.id %></td>
				<td><%= link_to cage_path(cage) do %><%= cage.name %><% end %></td>
				<td><%= cage.cage_type.titleize %></td>
				<td>[<%= cage.current_capacity %>] <%= cage_status(cage) %></td>
				<td><%= cage_power(cage) %></td>
				<td>
					<%= link_to icon('fa-solid', 'pencil'), edit_cage_path(cage), class: "me-3" %>
					<%= link_to icon('fa-solid', 'trash'), cage_path(cage), method: :delete, data: { confirm: "Make sure the cage is empty!" }, class: "text-danger" %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<% end %>