<!DOCTYPE html>
<html data-bs-theme="dark">
	<head>
	    <title>TotallySafePark</title>
	    <meta name="viewport" content="width=device-width,initial-scale=1">
	    <%= csrf_meta_tags %>
	    <%= csp_meta_tag %>

	    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
	    <%= javascript_importmap_tags %>
	</head>

	<body class="container-md">
		<%= render partial: "shared/notification", locals: { message: flash[:notice], alert: flash[:alert] } %>
		<header class="row">
			<div class="col">
				<%= render "layouts/shared/nav" %>
			</div>
		</header>
		<%= yield %>
	</body>
</html>
